.TestBackground {
    width: 100vw;
    height: 100vh;
    background: #F5EFEB;
    font-weight: 600;
    box-sizing: border-box;
}

.TestPage {
    display: flex;
}

.TestInner {
    width: 465px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /* justify-items: center; */
}

.ProgressText {
    padding: 25px 0px 5px 35px;
    font-size: 18px;
}

.ProgressBar {
    width: 385px;
    height: 20px;
    border-radius: 1px;
    background: rgba(46, 109, 74, 0.37);
    margin: 0 auto;
    margin-bottom: 10%;
}

.ProgressBlock {
    width: 40px;
    height: 100%;
    background-color: #2E6D4A;
}

.Quesiton_container {
    display: flex;
    flex-direction: column;
}

.TestQ {
    color: #2E6D4A;
    font-size: 32px;
    margin: 0 auto;
    margin-bottom: 5%;
}

.TestQuestion {
    width: 360px;
    height: 180px;
    font-size: 26px;
    padding: 0 auto;
    text-align: center;
    margin: 0 auto;
    line-height: 1.4;
    justify-items: center;
}

.Answer1,
.Answer2 {
    background: rgba(86, 86, 86, 0.18);
    color: #171717;
    width: 375px;
    height: 90px;
    border-radius: 5px;
    border: 0;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
    margin: 0 auto;
    margin-bottom: 8%;
    font-size: 20px;
    line-height: 1.3;
    padding: 4px 36px 4px 36px;
}


.Answer1:hover,
.Answer2:hover {
    background: #ABBFAF;
}


@media screen and (max-width:480px) {

    .TestQuestion {
        width: 90%;
        font-size: 22px;
    }

    .Answer1,
    .Answer2 {
        width: 85%;
        font-size: 18px;
    }

    .ProgressBar {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 10%;
    }

    .ProgressBlock {
        width: 7.5%;
        height: 100%;
        background-color: #2E6D4A;
    }
}