.TestBackground {
    width: 100vw;
    height: 100vh;
    background: #F5EFEB;
    font-weight: 600;
}

.TestPage {
    display: flex;
}

.TestInner {
    width: 465px;
    margin: 0 auto;
    /* justify-items: center; */
    display: inline-grid;
}

.ProgressText {
    padding: 25px 0px 3px 38px;
    font-size: 18px;
}

.ProgressBar {
    width: 385px;
    height: 20px;
    border-radius: 1px;
    background: rgba(46, 109, 74, 0.37);
    margin: 0 auto;
    margin-bottom: 50px;
}

.TestQ {
    color: #2E6D4A;
    font-size: 32px;
    margin: 0 auto;
    margin-bottom: 26px;
}

.TestQuestion {
    width: 385px;
    height: 220px;
    font-size: 26px;

    text-align: center;
    padding: 10px 0 auto 0;
    margin: 0 auto;
    word-break: keep-all;
    line-height: 1.4;
}

.Answer1,
.Answer2 {
    color: #171717;
    width: 373.148px;
    height: 89.556px;
    border-radius: 5px;
    border: 0;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
    margin: 0 auto;
    font-size: 20px;
    padding: 5px 36px 5px 36px;
    word-break: keep-all;
}

.Answer1 {
    background: rgba(86, 86, 86, 0.18);
    margin-bottom: 49px;
}

.Answer2 {
    background: #ABBFAF;
    margin-bottom: 50px;
}