.EachResult {
    width: 411px;
    height: 449px;
    border-radius: 10px;
    background: #2E6D4A;
    color: #FFFDD4;
    text-align: center;
    margin: 0 auto 30px auto;

}

.Position1,
.Position2 {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.Position2 {
    top: -23px;
}

.Circle {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #215035;
    border: solid 18px #2E6D4A;
}

.ViewImg {
    height: 232px;
    padding-top: 11px;
    margin-bottom: 23px;
}

.ViewSubName {
    font-size: 24px;
    margin-bottom: 12px;
}

.ViewName {
    font-size: 42px;
}

footer {
    position: sticky;
    bottom: 0;
}

button {
    background-color: #494949;
    color: #EAEAEA;
    font-size: 26px;
    width: 465px;
    height: 70px;
}