* {
  text-decoration-line: none;
}

.MbtiMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 43px;
  background-color: #F5EFEB;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
}

.MbtiMain div {
  color: #3a3a3a;
  /* margin-bottom: 5px; */
  font-size: 18px;
}

.MbtiMain div:nth-child(2) {
  font-size: 44px;
}

.MbtiMain div:nth-child(3),
.MbtiMain div:nth-child(4) {
  font-size: 44px;
}

.MbtiMain div:nth-child(3) {
  color: #2E6D4A;
}

.MbtiMain div div {
  color: #2E6D4A;
  font-size: 44px;
}

.MbtiMain div div div {
  color: black;
}

.MbtiMain .slider-image {
  width: 391.63px;
  height: 275px;
  margin: 22px 0px 5px 0px;
}

.image-description {
  font-size: 0;
  /* 텍스트를 숨깁니다 */
  margin: 0;
  /* 여백을 없앱니다 */
  padding: 0;
  /* 안쪽 여백을 없앱니다 */
  line-height: 0;
  /* 행 간격을 없앱니다 (옵션) */
  display: none;
  /* 텍스트를 화면에서 숨깁니다 */
}

.MbtiMainButton {
  width: 381px;
  height: 58px;
  /* display: flex; */
  /* flex-direction: column; */
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  border-radius: 10px;
}

/* 
.MbtiMain button {
  margin-top: 17.6px;
  border-radius: 10px;
} */

.MbtiMain img[src$="/img/Footer/Footer_logo.png"] {
  max-height: 76.73px;
  width: 96.43px;
  height: 26.73px;
  padding-top: 50px;
  margin-bottom: 20px;
  position: relative;
  top: -0px;
}

@media screen and (max-width: 767px) {
  /* .MbtiMain {
    padding: 43px;
  } */

  .MbtiMain .slider-image {
    width: 281.97px;
    height: 198px;
    position: relative;
    top: -10px;
  }

  .MbtiMain div div {
    margin: 0px;
    font-size: 36px;
  }

  .MbtiMain div {
    font-size: 16px;
  }

  .MbtiMain div:nth-child(2),
  .MbtiMain div:nth-child(3),
  .MbtiMain div:nth-child(4) {
    font-size: 36px;
  }

  .MbtiMainButton {
    margin-top: 15px;
    font-size: 90%;
    padding: 8px 0;
    width: 325px;
    height: 53px;
    position: relative;
    top: -30px;
  }

  .MbtiMain img[src$="/img/Footer/Footer_logo.png"] {
    margin-top: 8px;
    width: 82px;
    height: 22.73px;
  }
}