.ShareButtons {
    width: fit-content;
    display: flex;
    justify-content: center;
    padding-right: 33px;
    margin: 0 auto;
}

.ShareText {
    width: fit-content;
    margin: 0 auto;
    display: flex;
    padding-top: 39px;
    border-top: solid 1px rgba(46, 109, 74, 0.25);
    margin-top: 56px;
    margin-bottom: 18px;
    text-align: center;
}

.ShareText img {
    width: 21px;
    margin-top: 10px
}

.ShareText span {
    margin: 13px 0px 0px 10px;
    font-size: 20px;
    text-align: center;
    color: black;
}

.SNSButton {
    width: 57px;
    height: 57px;
    border-radius: 50%;
    background: #2E6D4A;
    display: flex;
    margin-left: 33px;
    padding: 1px;
    /* margin-right: auto; */
}

.SNSButton:hover {
    cursor: pointer;
}

.Images {
    width: 50%;
    max-height: 60%;
    margin: auto
}

.GuideImg {
    width: 90%;
    /* justify-content: center; */
    margin: 0 auto;
    margin-top: 22px;
    padding: 0 5%;
}

.GoGuideButton {
    position: relative;
    font-size: 16px;
    display: block;
    width: 163px;
    padding: 9px 0px;
    /* height: 38px; */
    top: -100px;
    left: 248px;
    border-radius: 26px;
    background: #402C33;
    color: #F8FFE4;
    text-align: center;
    /* vertical-align: middle; */
    font-family: "UhBee_ZZIBA";
    font-style: normal;
}

button:hover,
.GoGuideButton:hover {
    transform: scale(1.02);
}

@media(max-width:600px) {
    .ShareButtons {
        /* padding-right: 21px; */
        margin: 0 auto
    }

    .ShareText img {
        width: 21px;
        margin-top: 10px
    }

    .ShareText {
        padding-top: 39px;
        border-top: solid 1px rgba(46, 109, 74, 0.25);
        margin-top: 56px;
        margin-bottom: 18px;

    }

    .ShareText span {
        font-size: 20px;
    }

    .SNSButton {
        width: 44px;
        height: 44px;
        margin-left: 21px;
        margin-right: 0;
    }

    .Images {
        width: 60%;
        margin: auto
    }

    .GoGuideButton {
        font-size: 15px;
        width: 160px;
        top: -80px;
        left: 196px;
        border-radius: 26px;
    }

}

@media(max-width:330px) {
    .ShareButtons {
        width: 90%;
        padding-right: 21px;
        margin: 0 auto
    }

    .ShareText img {
        width: 21px;
        margin-top: 10px
    }


    .SNSButton {
        width: 44px;
        height: 44px;
        margin-left: 21px;
        margin-right: 0;
    }

    .Images {
        width: 60%;
        margin: auto
    }


    .GoGuideButton {
        font-size: 10px;
        width: 120px;
        top: -76px;
        left: 154px;
    }

}