.ResultPage {
    font-family: locus_sangsang;
    font-style: normal;
    color: #2B503B;
    width: 100vw;
}

.ResultFrame {
    width: 465px;
    float: center;
    margin: 0 auto;
}

.ResultImageFrame {
    width: 100%;
    box-sizing: border-box;
    background-color: #2E6D4A;
    height: 547px;
    color: #FFFDD4;
    text-align: center;
    font-size: 18px;
    padding-top: 48px;
}

.ResultTitle {
    font-size: 24px;
    justify-content: center;
    padding-bottom: 4px;
    box-shadow: inset 0 -17px 0 rgb(235, 188, 21, 0.29);
}

.ResultMiddletext {
    margin-top: 29px;
    font-size: 24px;
}

.TypeName {
    font-size: 36px;
    padding: 8px 0 8px 0;
}

.TypeImg {
    width: 319px;
    padding-bottom: 26px;
}

.ResultPercent {
    width: 100%;
    height: 128px;
    padding-top: 10px;
    margin-bottom: 10px;
}

.ResultText {
    color: #403F3F;
    font-size: 20px;
    font-weight: 600;
    margin: 10px 10px 10px 10px;
    word-break: keep-all;
    /*단어단위로 끊게끔*/
    display: flex;
}

.resultEachText {
    padding-bottom: 28px;
}

/* .Circle {
    margin: 0 auto;
    width: 79px;
    height: 79px;
    border: 15px solid #D9D9D9;
    border-style: dashed;
    padding: 20px;
    border-top-color: #2E6D4A;
    border-radius: 50%;
    border-width: 35px;
} */

.AllTypesButton,
.ReTestButton {
    display: block;
    width: 415px;
    height: 62px;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
    /* margin: 0 0 33px 25px; */
    margin: 0 auto;
    margin-bottom: 33px;
    margin-left: 25px;
    font-size: 24px;
    border-radius: 5px;
    text-align: center;
    border: 0px;
}

.AllTypesButton {
    background: #2E6D4A;
    color: #F8FFE4;
}

.AllTypesButton:hover {
    cursor: pointer;
}

.ReTestButton {
    background: #E7E7E7;
    color: #2E6D4A;
    margin-bottom: 90px;
}

.ReTestButton:hover {
    cursor: pointer;
}

@media (max-width: 600px) {

    .ResultFrame {
        width: 100vw;
    }

    .ResultImageFrame {
        width: 100%;
        height: 462px;
        font-size: 14px;
        padding-top: 45px;
    }

    .ResultTitle {
        font-size: 18px;
        box-shadow: inset 0 -13px 0 rgb(235, 188, 21, 0.29);
    }

    .ResultMiddletext {
        margin-top: 26px;
        font-size: 18px;
    }

    .TypeName {
        font-size: 30px;
        padding: 6px 0 6px 0;
    }

    .TypeImg {
        height: 224px;
        padding-bottom: 22px;
    }

    .ResultPercent {
        width: 100%;
        height: 86px;
        padding-top: 10px;
        margin-bottom: 10px;
        font-size: 16px;
    }

    .ResultText {
        font-size: 16px;
        margin: 10px 10px 10px 10px;
    }

    .AllTypesButton,
    .ReTestButton {
        width: 325px;
        height: 53px;
        box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
        /* margin: 0 0 15px 25px; */
        margin: 0 auto;
        margin-bottom: 15px;
        font-size: 24px;
    }

    .ReTestButton {
        margin-bottom: 90px;
    }
}

@media (max-width: 330px) {
    .SameMbti {
        font-size: 12px;
    }

    .ResultImageFrame {
        height: 420px;
    }

    .TypeImg {
        width: 80%;
        height: auto;
        padding-bottom: 22px;
    }

    .ResultTitle {
        font-size: 15px;
        box-shadow: inset 0 -13px 0 rgb(235, 188, 21, 0.29);
    }

    .AllTypesButton,
    .ReTestButton {
        width: 85%;
        height: 45px;
        font-size: 15px;
    }

    .ReTestButton {
        margin-bottom: 90px;
    }
}