.MbtiMain {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 43px; 
    background-color: #F5EFEB;
    width: 100vw;
    height: 100vh;
  }
.MbtiMain div {
    color: #3a3a3a;
    margin-bottom: 5px;
  }
.MbtiMain div:nth-child(3),
.MbtiMain div:nth-child(4) {
  color: #2E6D4A
}
.MbtiMain div div {
    font-weight: bold; 
    color: black;
}
.MbtiMain h1:nth-child(1){
    margin-bottom: 5px; 
}
.MbtiMain h1:nth-child(2){
    margin-bottom: 5px; 
}
.MbtiMain h1:nth-child(3) {
    margin-bottom: 5px; 
}
.MbtiMain .slider-image {
    width: 391.63px;
    height: 275px;
  }
.button {
    width: 381.4px;
    height: 62.2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 300px;
    right: 50px;
   
}
.MbtiMain button {
    margin-top: 17.6px;
    border-radius: 10px;
}
